<h1>Alerts</h1>

<h2>Default</h2>

<div class="example">
  <div class="alert">
    Flash message here.
  </div>

  <pre><code class="highlight html">
  &lt;div class="alert"&gt;
    Flash message here.
  &lt;/div&gt;
  </code></pre>
</div>

<h2>Success</h2>

<div class="example">
  <div class="alert success">
    Flash message here.
  </div>

  <pre><code class="highlight html">
  &lt;div class="alert success"&gt;
    Flash message here.
  &lt;/div&gt;
  </code></pre>
</div>

<h2>Failure</h2>

<div class="example">
  <div class="alert failure">
    Flash message here.
  </div>

  <pre><code class="highlight html">
  &lt;div class="alert failure"&gt;
    Flash message here.
  &lt;/div&gt;
  </code></pre>
</div>
