<h1>Colors</h1>

<h2>Branding</h2>

<div class="example">
  <div class="colors">
    <div class="color" style="background-color:#F44336">
      Red:<br>
      .red<br>
      #F44336
    </div>
    <div class="color" style="background-color:#03A9F4">
      Blue:<br>
      .blue<br>
      #03A9F4
    </div>
  </div>
</div>

<h2>Grayscale</h2>

<div class="example">
  <div class="colors">
    <div class="color" style="background-color:#E0E0E0">
      Darkest Gray:<br>
      .darkest-gray<br>
      #E0E0E0
    </div>
    <div class="color" style="background-color:#F5F5F5">
      Dark Gray:<br>
      .dark-gray<br>
      #F5F5F5
    </div>
    <div class="color" style="background-color:#FAFAFA">
      Gray:<br>
      .gray<br>
      #FAFAFA
    </div>
    <div class="color" style="background-color:#FFFFFF">
      White:<br>
      .white<br> 
      #FFFFFF
    </div>
  </div>
</div>
