<h1>Forms</h1>

<h2>Example Form</h2>

<div class="example">
  <form>
    <label for="name">Text</label>
    <input class="form-control" type="text" id="name">

    <label for="email">Email address</label>
    <input class="form-control" type="email" id="email">

    <label>
      <input type="checkbox"> Checkbox
    </label>

    <label>
      <input type="radio" id="herp" name="herpderp" checked> Radio 1
    </label>

    <label for="email">Select</label>
    <select class="form-select">
      <option>Choose an option</option>
      <option>Git</option>
      <option>Subversion</option>
      <option>Social Coding</option>
      <option>Beets</option>
      <option>Bears</option>
      <option>Battlestar Galactica</option>
    </select>

    <button class="btn" type="submit">Submit</button>
  </form>

  <pre><code class="highlight html">
  &lt;form&gt;
    &lt;label for="name"&gt;Name&lt;/label&gt;
    &lt;input class="form-control" type="text" id="name"&gt;

    &lt;label for="email"&gt;Email address&lt;/label&gt;
    &lt;input class="form-control" type="email" id="email"&gt;

    &lt;label&gt;
      &lt;input type="checkbox"&gt; Remember me
    &lt;/label&gt;

    &lt;label&gt;
      &lt;input type="radio" id="herp" name="herpderp" checked&gt; Herp
    &lt;/label&gt;

    &lt;label&gt;
      &lt;input type="radio" id="derp" name="herpderp"&gt; Derp
    &lt;/label&gt;

    &lt;button class="btn" type="submit"&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
  </code></pre>

</div>
