<h1>Typography</h1>

<h2>Headings</h2>

<div class="example">
  <h1>H1 Heading</h1>
  <h2>H2 Heading</h2>
  <h3>H3 Heading</h3>
  <h4>H4 Heading</h4>
  <h5>H5 Heading</h5>
  <h6>H6 Heading</h6>
  <pre><code class="highlight html">
  &lt;h1&gt;H1 Heading&lt;/h1&gt;
  &lt;h2&gt;H2 Heading&lt;/h2&gt;
  &lt;h3&gt;H3 Heading&lt;/h3&gt;
  &lt;h4&gt;H4 Heading&lt;/h4&gt;
  &lt;h5&gt;H5 Heading&lt;/h5&gt;
  &lt;h6&gt;H6 Heading&lt;/h6&gt;
  </code></pre>
</div>

<h2>Body Text</h2>

<div class="example">
  <p>Bacon ipsum dolor amet bresaola pork chop jowl pastrami drumstick. Pork loin jowl tail boudin t-bone pork chop chuck. Bresaola prosciutto tri-tip short loin pork loin. Pork belly leberkas turducken doner ribeye porchetta hamburger bresaola, jerky landjaeger venison.</p>
  <p>Short loin turkey ham alcatra jerky tongue. Hamburger capicola bresaola picanha short ribs, pork loin kevin landjaeger jerky ground round doner cupim. Tenderloin venison filet mignon bacon capicola. Ham ham hock pastrami bacon andouille.</p>
  <p>Bacon ham corned beef pork. Picanha pork loin shoulder, ham hock flank tri-tip alcatra strip steak ham swine ribeye capicola venison sirloin shank. Strip steak brisket pork chop jowl jerky swine drumstick flank salami meatball chuck. Leberkas cupim landjaeger, pancetta tenderloin brisket beef ribs porchetta pastrami bacon kielbasa spare ribs short loin ham hock. Pork loin meatball shankle boudin shoulder chuck bresaola flank swine burgdoggen kielbasa alcatra prosciutto. Meatloaf hamburger porchetta, salami picanha pancetta brisket.</p>
  <pre><code class="highlight html">
  &lt;p&gt;Bacon ipsum dolor amet bresaola pork chop jowl pastrami drumstick. Pork loin jowl tail boudin t-bone pork chop chuck. Bresaola prosciutto tri-tip short loin pork loin. Pork belly leberkas turducken doner ribeye porchetta hamburger bresaola, jerky landjaeger venison.&lt;/p&gt;
  &lt;p&gt;Short loin turkey ham alcatra jerky tongue. Hamburger capicola bresaola picanha short ribs, pork loin kevin landjaeger jerky ground round doner cupim. Tenderloin venison filet mignon bacon capicola. Ham ham hock pastrami bacon andouille.&lt;/p&gt;
  &lt;p&gt;Bacon ham corned beef pork. Picanha pork loin shoulder, ham hock flank tri-tip alcatra strip steak ham swine ribeye capicola venison sirloin shank. Strip steak brisket pork chop jowl jerky swine drumstick flank salami meatball chuck. Leberkas cupim landjaeger, pancetta tenderloin brisket beef ribs porchetta pastrami bacon kielbasa spare ribs short loin ham hock. Pork loin meatball shankle boudin shoulder chuck bresaola flank swine burgdoggen kielbasa alcatra prosciutto. Meatloaf hamburger porchetta, salami picanha pancetta brisket.&lt;/p&gt;
  </code></pre>
</div>

<h2>Lists</h2>

<h3>Unordered</h3>
<div class="example">
  <ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3
      <ul>
        <li>Item 3.1</li>
        <li>Item 3.2</li>
        <li>Item 3.3</li>
      </ul>
    </li>
    <li>Item 4</li>
  </ul>

  <pre><code class="highlight html">
  &lt;ul&gt;
    &lt;li&gt;Item 1&lt;/li&gt;
    &lt;li&gt;Item 2&lt;/li&gt;
    &lt;li&gt;Item 3
      &lt;ul&gt;
        &lt;li&gt;Item 3.1&lt;/li&gt;
        &lt;li&gt;Item 3.2&lt;/li&gt;
        &lt;li&gt;Item 3.3&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li&gt;Item 4&lt;/li&gt;
  &lt;/ul&gt;
  </code></pre>
</div>

<h3>Ordered</h3>
<div class="example">
  <ol>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3
      <ul>
        <li>Item 3.1</li>
        <li>Item 3.2</li>
        <li>Item 3.3</li>
      </ul>
    </li>
    <li>Item 4</li>
  </ol>
  <pre><code class="highlight html">
  &lt;ol&gt;
    &lt;li&gt;Item 1&lt;/li&gt;
    &lt;li&gt;Item 2&lt;/li&gt;
    &lt;li&gt;Item 3
      &lt;ul&gt;
        &lt;li&gt;Item 3.1&lt;/li&gt;
        &lt;li&gt;Item 3.2&lt;/li&gt;
        &lt;li&gt;Item 3.3&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li&gt;Item 4&lt;/li&gt;
  &lt;/ol&gt;
  </code></pre>
</div>

<h2>Inline text elements</h2>
<div class="example">
  <p>You can use the mark tag to <mark>highlight</mark> text.</p>
  <p><del>This line of text is meant to be treated as deleted text.</del></p>
  <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
  <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
  <p><u>This line of text will render as underlined</u></p>
  <p><small>This line of text is meant to be treated as fine print.</small></p>
  <p><strong>This line rendered as bold text.</strong></p>
  <p><em>This line rendered as italicized text.</em></p>

  <pre><code class="highlight html">
  &lt;p&gt;You can use the mark tag to &lt;mark&gt;highlight&lt;/mark&gt; text.&lt;/p&gt;
  &lt;p&gt;&lt;del&gt;This line of text is meant to be treated as deleted text.&lt;/del&gt;&lt;/p&gt;
  &lt;p&gt;&lt;s&gt;This line of text is meant to be treated as no longer accurate.&lt;/s&gt;&lt;/p&gt;
  &lt;p&gt;&lt;ins&gt;This line of text is meant to be treated as an addition to the document.&lt;/ins&gt;&lt;/p&gt;
  &lt;p&gt;&lt;u&gt;This line of text will render as underlined&lt;/u&gt;&lt;/p&gt;
  &lt;p&gt;&lt;small&gt;This line of text is meant to be treated as fine print.&lt;/small&gt;&lt;/p&gt;
  &lt;p&gt;&lt;strong&gt;This line rendered as bold text.&lt;/strong&gt;&lt;/p&gt;
  &lt;p&gt;&lt;em&gt;This line rendered as italicized text.&lt;/em&gt;&lt;/p&gt;
  </code></pre>

</div>
