@import 'variables';
@import 'mixins';
@import 'functions';

// Style Guide App Wrapper
#laravel-style-guide {
  display:flex;
  justify-content:flex-start;
  align-items: stretch;
  width:100%;

  // Content
  > div {
    padding:30px;
    min-height: 100vh;
    background-color:#fafafa;
    flex:1;
    min-width:0;
  }

  // Navigation
  > ul {
    min-width:200px;
    background-color:#fff;
    border-right:1px solid #f5f5f5;
    z-index:1;
    font-family: $sansSerif;
    line-height: 1.2;

    li {
      &:hover {
        background-color: #fafafa;
      }

      a {
        display:block;
        padding:15px 30px;
        border-bottom:1px solid #e0e0e0;
        text-decoration: none;
        font-weight:bold;
        color: #212121;
        @include font-size-map($body-font-size);
      }
    }
  }

  .colors {
    display:block;

    &:after {
      display:block;
      content: "";
      clear:both;
    }

    .color {
      float:left;
      width:100px;
      height:100px;
      border:1px solid #E0E0E0;
      margin-right:16px;
      border-radius:5px;
      text-align:center;
      padding:8px;
      box-sizing: border-box;
      font-size:0.8em;
    }
  }

  .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    font-size:1.2em;
    line-height:1.3em;
  }

  .example {
    border: 1px solid #e5e5e5;
    margin-bottom:1em;
    padding:20px 20px 0;
    border-radius:3px;

    pre {
      margin:20px -20px 0;
    }
  }

  code.hljs {
    &.inline {
      display: inline;
      padding: 0.2em 0.5em;
    }
  }
}
